/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    .section_title {
        font-size: 2em;
        line-height: 33px;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    #contact-info {
        margin-bottom: 30px;
    }

    /* ABOUT Contact
   ========================================================================== */
    #contact-info {
        width: 100%;
        padding: 6%;
    }

    /* ==========================================================================
BLOG
========================================================================== */
    #blog {
        height: 470px;
    }

    #blog .container .row .all {
        padding: 20px 2%;
    }

    /* ==========================================================================
VIDEOS
========================================================================== */

    .video-container {
        margin-bottom: 30px;
    }
}
