/*==========================================================================
Variables
========================================================================== */

/*Colors*/
$almostBlack: #222;
$darkGray: #424242;
$gray: #757575;
$lightGray: #f2f2f2;
$red: #fe0000;
$lightRed: #f6c4c1;
$white: #fff;

/*Line Heights*/
$lineOne: 30px;

/*Section Padding*/
$sectionPaddingOne: 50px 0;

/* ==========================================================================
Mixins and Extends
========================================================================== */

.align-center {
    -webkit-align-items: center;
        -ms-align-items: center;
            align-items: center;
    -ms-flex-align: center;
}

.justify-content {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
}

.flex-end {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
       -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
         -o-justify-content: flex-end;
            justify-content: flex-end;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;

         -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    /* border: 1px solid red !important;*/
}

html,
body {
    height: 100%;

    font-family: "proxima-nova",sans-serif;
}

/* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

#about .section_title,
#videos .section_title {
    padding: 3% 0;

    font-family: "jaf-bernino-sans-comp", "proxima-nova", sans-serif;
    font-size: 3.1em;
    font-weight: 800;
    line-height: 60px;

    letter-spacing: 2px;
    text-transform: uppercase;
}

#blog .blog_entry_title {
    font-family: "jaf-bernino-sans-comp", "proxima-nova", sans-serif;
    font-size: 1.7em;
    font-weight: 400;
}


#about .section_paragraph,
#blog .blog_excerpt,
#videos .section_paragraph {
    padding-bottom: 5%;

    font-size: 1.4em;
    line-height: 40px;
}

/* ==========================================================================
BUTTONS WITH THE SAME SETTINGS
========================================================================== */

#blog a.blog_entry_read_more,
#videos a.more_videos_btn {
    display: inline-block;
    padding: 15px 18px;

    font-size: 1em;
    font-weight: 800;

    text-transform: uppercase;

    border-radius: 3px;
}

/* ==========================================================================
CONTAINER
========================================================================== */

.container {
    width: 90%;
    padding: 0;

    word-wrap: break-word;
}

/* ==========================================================================
NAV
========================================================================== */

#nav {
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 50px;

    background: transparent;
    .container {
        height: inherit;
        .row {
            height: inherit;
            .all {
                display: flex;
                height: inherit;

                -webkit-align-items: center;
                    -ms-align-items: center;
                        align-items: center;
                -ms-flex-align: center;
            }
            .one {
                .group {
                    height: inherit;
                    padding: 15px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            .two {
                display: flex;

                -ms-flex-pack: end;
                -webkit-justify-content: flex-end;
                   -moz-justify-content: flex-end;
                    -ms-justify-content: flex-end;
                     -o-justify-content: flex-end;
                        justify-content: flex-end;
                ul {
                    li {
                        display: inline-block;
                        padding-left: 20px;
                        a {
                            font-size: .9em;
                            font-weight: 900;

                            text-transform: uppercase;

                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.addColor {
    background: $almostBlack !important;
}

/* NAV Menu Toggle Button
========================================================================== */

.menu_btn {
    display: block;

    color: $red;
    .fa {
        font-size: 2em;
    }
}


/* NAV Menu Slide Out Nav
========================================================================== */

#slide_out_nav {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 1;

    width: 20%;
    height: 100%;
    padding-left: 150px;

    background: #000;
    ul {
        position: absolute;
        top: 30%;
        li {
            height: 80px;
            a {
                font-size: 2em;
                font-weight: 200;

                color: #fff;
            }
        }
    }
}

.hide_nav {
    display: none;
}

/* ==========================================================================
JUMBOTRON
========================================================================== */

.jumbotron {
    height: 60%;
    margin: 0;

    background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url(img/banner/banner.jpg);
    background-size: cover;
    .container {
        display: flex;
        height: 100%;

        -webkit-align-items: center;
            -ms-align-items: center;
                align-items: center;
        -ms-flex-align: center;
        .group {
            width: 100%;

            text-align: center;
        }
    }
}

/* JUMBOTRON Font Size
   ========================================================================== */

#jumbotron  h1 {
    font-family: "jaf-bernino-sans-comp", "proxima-nova", sans-serif;
    font-size: 6em;

    letter-spacing: 10px;
}

#jumbotron h1,
#jumbotron h2 {
    font-weight: 900;

    text-transform: uppercase;

    color: $white;
}

/* ==========================================================================
ABOUT
========================================================================== */

#about {
    height: auto;
    padding: 7% 0;

    background: $white;
    background-size: cover;
    .container {
        height: 100%;
        .row {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            -ms-align-items: center;
                align-items: center;
            .one {
                text-align: center;
            }
        }
    }
}

/* ABOUT Fonts
   ========================================================================== */

#about .section_title {
    color: $almostBlack;
}

#about .section_paragraph {
    padding: 0 15%;

    font-weight: 500;

    color: #777;
}

/* ABOUT Images
   ========================================================================== */

#about .two img {
    width: 100%;
    height: auto;
    padding: 0 14%;

    border-radius: 50%;
}


/* ==========================================================================
BLOG
========================================================================== */

#blog {
    height: auto;

    background: $lightGray;
    .container {
        padding: 6% 0;
        .row {
            width: 100%;
            height: 100%;
            margin: 0;
            .all {
                display: flex;
                height: inherit;
                padding: 20px 4%;

                -webkit-align-items: center;
                    -ms-align-items: center;
                        align-items: center;
                -ms-flex-align: center;
            }
        }
    }
}

/* BLOG Fonts
   ========================================================================== */

#blog .blog_entry_title {
    color: $red;
}

#blog .blog_excerpt {
    display: block;

    font-weight: 400;

    color: #666;
}

#blog .blog_time {
    font-style: italic;
}



/* BLOG Buttons
   ========================================================================== */

#blog a.blog_entry_read_more {
    transition: all 300ms ease;

    color: $white;
    border: none;
    background: $red;
    &:hover {
        text-decoration: none;

        color: $red;
        border: 5px solid $white;
        background: $white;
    }
}



/* ==========================================================================
VIDEOS
========================================================================== */

#videos {
    height: 70%;
    padding: 7% 0;

    background: $white;
    .container {
        height: 100%;
        .row {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .all {
                height: 100%;
                .section_paragraph {
                    color: $gray;
                }
            }
        }
    }
}

/* VIDEOS Buttons
   ========================================================================== */

a.more_videos_btn {
    color: $almostBlack;
    border: 3px solid $almostBlack;
}

/* VIDEOS Youtube
   ========================================================================== */
.youtube-video {
    width: 100%;
    height: 100%;
}

/* ==========================================================================
NAVIGATE LINKS
========================================================================== */

.to_the_top {
    position: fixed;
    right: 0;
    bottom: 20%;

    padding: .7em;

    background: rgba(255,255,255,.5);
    a {
        font-size: .8em;
        font-weight: 800;

        text-decoration: none;
        text-transform: uppercase;

        color: #838383;
        .fa {
            font-size: 1.4em;
        }
    }
}
