@media only screen and (max-width : 1900px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    #about .section_title,
    #videos .section_title,
    #blog .blog_entry_title,
    #more_blogs .section_title {
        font-size: 2.4em;
        line-height: 46px;
    }

    #about .section_paragraph,
    #blog .blog_excerpt,
    #videos .section_paragraph {
        font-size: 1.2em;
        line-height: 29px;
    }

    /* ==========================================================================
BUTTONS WITH THE SAME SETTINGS
========================================================================== */

    #blog a.blog_entry_read_more,
    #videos a.more_videos_btn {
        font-size: .9em;
    }
    /* ==========================================================================
JUMBOTRON
========================================================================== */

    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 4em;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    #about {
        padding: 200px 0;
    }
}
