/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    .section_title,
    #blog .blog_entry_title {
        font-size: 1.8em;
    }

    /* ==========================================================================
JUMBOTRON
========================================================================== */

    #jumbotron {
        height: 20%;
    }
    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 1.3em;
    }
}
