/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /* ==========================================================================
JUMBOTRON
========================================================================== */

    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 2em;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    #about {
        padding: 100px 0;
    }

    #about .section_paragraph {
        margin-bottom: 50px;
    }

    #about .container .row {
        display: block;
    }

    /* ==========================================================================
VIDEOS
========================================================================== */

    #videos {
        padding: 100px 0;
    }

    #videos .container .row {
        display: block;
    }

    #videos .container .row .one {
        margin-bottom: 20px;
    }
}
