/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    #about .section_title,
    #videos .section_title,
    #blog .blog_entry_title,
    #more_blogs .section_title {
    }

    #about .section_paragraph,
    #blog .blog_excerpt,
    #videos .section_paragraph {
    }

    /* ==========================================================================
CONTAINER
========================================================================== */


    /* ==========================================================================
JUMBOTRON
========================================================================== */

    #jumbotron {
        height: 40%;
    }

    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 2.4em;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    #about {
        padding: 100px 0;
    }

    #about .container .row .one ul {
        margin-bottom: 50px;
    }

    #about .container .row {
        display: block;
    }

    #about .container .row .two {
        margin: 1;
    }

    /* ==========================================================================
BLOG
========================================================================== */

    #blog .container {
        padding: 0;
    }

    #blog .container .row .all {
        padding-top: 7%;
        padding-bottom: 7%;

        border-bottom: 1px dotted #ddd;
    }

    #blog .row .all .group {
        text-align: center;
    }

    #blog .blog_excerpt {
        padding-bottom: 5%;
        margin: 0 auto;
    }

    /* ==========================================================================
VIDEOS
========================================================================== */

    #videos {
        padding: 100px 0;
    }

    #videos .container .row {
        display: block;
    }

    #videos .container .row .one {
        margin-bottom: 20px;
    }

    #videos .container .row .two {
        text-align: center;
    }
}
