/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    #about .section_title,
    #videos .section_title {
        padding: 5% 0;

        font-size: 2.4em;
        line-height: 35px;
    }

    #blog .blog_entry_title {
    }

    #blog .blog_excerpt {
        font-size: 1.1em;
        line-height: 34px;
    }


    #about .section_paragraph,
    #videos .section_paragraph {
        font-size: 1.2em;
        line-height: 34px;
    }

    /* ==========================================================================
BUTTONS WITH THE SAME SETTINGS
========================================================================== */

    #blog a.blog_entry_read_more,
    #videos a.more_videos_btn {
        font-size: .9em;
    }

    /* ==========================================================================
JUMBOTRON
========================================================================== */

    .jumbotron {
        height: 40%;
    }

    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 3em;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    /* ABOUT Images
   ========================================================================== */

    #about .two img {
        padding: 0;
    }

    /* ==========================================================================
BLOG
========================================================================== */


    #blog .row .all {
    }

    #blog .row .all .group {
        width: 100%;
    }

    /* ==========================================================================
VIDEOS
========================================================================== */

    #videos {
        height: 50%;
    }
}
