/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    .section_title {
        font-size: 2.6em;
        line-height: 43px;
    }

    #blog .blog_entry_title {
    }

    #blog .blog_excerpt {
        font-size: 1.1em;
        line-height: 34px;
    }


    #about .section_paragraph,
    #videos .section_paragraph {
        max-width: 100%;

        line-height: 34px;
    }

    /* ==========================================================================
BUTTONS WITH THE SAME SETTINGS
========================================================================== */

    #blog a.blog_entry_read_more,
    #videos a.more_videos_btn {
    }

    /* ==========================================================================
CONTAINER
========================================================================== */

    .container {
        padding: 0;

        word-wrap: break-word;
    }

    /* ==========================================================================
JUMBOTRON
========================================================================== */

    #jumbotron {
        height: 70%;
    }

    /* JUMBOTRON Font Size
   ========================================================================== */

    #jumbotron  h1 {
        font-size: 3em;
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    /* ABOUT Images
   ========================================================================== */

    #about .two img {
        padding: 0;
    }

    /* ==========================================================================
BLOG
========================================================================== */


    #blog .row .all {
    }

    #blog .row .all .group {
        width: 100%;
    }

    /* ==========================================================================
VIDEOS
========================================================================== */
}
