/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* ==========================================================================
HEADERS AND PARAGRAPHS WITH THE SAME SETTINGS
========================================================================== */

    #about .section_title,
    #videos .section_title {
        /* font-size: 2.4em;*/
        line-height: 35px;

        text-transform: uppercase;
    }

    #about .section_paragraph,
    #blog .blog_excerpt,
    #videos .section_paragraph {
    }

    /* ==========================================================================
BLOG
========================================================================== */


    #blog .row .all {
        padding: 100px 0;
    }

    #blog .row .all .group {
        width: 100%;
    }

    /* BLOG Fonts
   ========================================================================== */

    #blog .blog_entry_title,
    #more_blogs .row h1 {
        font-size: 1.4em;
        line-height: 28px;
    }
}
